.dialog {
  &__messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1 1 auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    margin: 10px 0;
  }

  &__input-message {
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--backgroundAccept);

    input {
      width: 100%;
      display: flex;
    }

    input::placeholder {
      color: var(--placeholder)
    }
  }

  &__input-send {
    cursor: pointer;
  }
}