.dialog{
  &__messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1 1 auto;
    &::-webkit-scrollbar{
      width: 0;
    }
    margin: 10px 0;
  }
  &__input-message{
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--backgroundAccept);
    input {
      width: 100%;
      display: flex;
    }
    input::placeholder{
      color: var(--placeholder)
    }
  }
  &__input-send{
    cursor: pointer;
  }
}

.message-user{
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  position: relative;
  max-width: 70%;
  margin: 10px 0;
  .svg-triangle {
    position: absolute;
    width: 11px;
    height: 8px;
    right: 0;
    bottom: 17px;
    path{
      fill: var(--backgroundMessageUser)
    }
  }
  &__edit, &__delete{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    &:hover{
      background: var(--background);
      color: var(--color);
      path{
        fill: var(--backgroundAccept);
      }
    }
    path{
      fill: var(--background);
    }
  }
  &__edit{
    svg{
      width: 30px;
      height: 25px;

    }
  }
  &__delete{
    svg{
      width: 30px;
      height: 30px;
    }
  }
  &__text{
    background: var(--backgroundMessageUser);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
  }
  &__time{
    font-size: 12px;
    color: var(--color);
    opacity: 0.3;
  }
  &__modal{
    border-radius: 5px;
    background: var(--backgroundMessageUser);
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    z-index: 10;
  }
  &__edited{
    position: absolute;
    font-size: 11px;
    color: var(--color);
    opacity: 0.7;
    bottom: 1px;
    right: 33px;
  }
}
.message-mate{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: flex-start;
  position: relative;
  max-width: 70%;
  &__text{
    background: var(--backgroundMessageMate);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }
  svg {
    position: absolute;
    width: 11px;
    height: 7px;
    bottom: 17px;
    left: 0;
    path{
      fill: var(--backgroundMessageMate);
    }
  }
  &__edited{
    position: absolute;
    left: 33px;
    bottom: 1px;
    font-size: 11px;
    opacity: 0.7;
    color: var(--color);
  }
}

.dialog__input-addFile{
  cursor: pointer;
  width: 30px;
  margin: 0 5px 0 0;
  &:hover{
    path{
      fill: #FFFFFF;
    }
  }
  path{
    fill: var(--placeholder)
  }
}



.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__wrapper {
  position: relative;
}

.input__file-button{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.dialog__input-modal{
  background: rgba(86, 86, 86, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog__input-window{
  position: relative;
  background: var(--background);
  width: 400px;
  height: 400px;
  border-radius: 5px;
  border: 1px solid var(--placeholder);
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  img{
    border-radius: 5px;
    max-height: 210px;
  }
}

.dialog__input-image{
  flex: 1 1 auto;
}

.dialog__modal-input{
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid var(--placeholder);
}

.dialog__modal-send{
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
}

.message-user-image, .message-mate-image {
  img{
    border-radius: 5px;
  }
}