.dialog{
  &__messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1 1 auto;
    &::-webkit-scrollbar{
      width: 0;
    }
    margin: 10px 0;
  }
  &__input-message{
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    width: 100%;
    background: var(--backgroundAccept);
    input {
      width: 100%;
    }
    input::placeholder{
      color: var(--placeholder)
    }
  }
  &__input-send{
    cursor: pointer;
  }
}

.message-user{
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  position: relative;
  max-width: 70%;
  margin: 10px 0;
  .svg-triangle {
    position: absolute;
    width: 11px;
    height: 8px;
    right: 0;
    bottom: 17px;
    path{
      fill: var(--backgroundMessageUser)
    }
  }
  &__edit, &__delete{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    &:hover{
      background: var(--background);
      color: var(--color);
      path{
        fill: var(--backgroundAccept);
      }
    }
    path{
      fill: var(--background);
    }
  }
  &__edit{
    svg{
      width: 30px;
      height: 25px;

    }
  }
  &__delete{
    svg{
      width: 30px;
      height: 30px;
    }
  }
  &__text{
    background: var(--backgroundMessageUser);
    padding: 10px;
    border-radius: 5px;
  }
  &__time{
    font-size: 12px;
    color: var(--color);
    opacity: 0.3;
  }
  &__modal{
    border-radius: 5px;
    background: var(--backgroundMessageUser);
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    z-index: 10;
  }
  &__edited{
    position: absolute;
    font-size: 11px;
    color: var(--color);
    opacity: 0.7;
    bottom: 1px;
    right: 33px;
  }
}
.message-mate{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: flex-start;
  position: relative;
  max-width: 70%;
  &__text{
    background: var(--backgroundMessageMate);
    padding: 10px;
    border-radius: 5px;
  }
  svg {
    position: absolute;
    width: 11px;
    height: 7px;
    bottom: 17px;
    left: 0;
    path{
      fill: var(--backgroundMessageMate);
    }
  }
  &__edited{
    position: absolute;
    left: 33px;
    bottom: 1px;
    font-size: 11px;
    opacity: 0.7;
    color: var(--color);
  }
}