.dialog{
  &__messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1 1 auto;
    &::-webkit-scrollbar{
      width: 0;
    }
    gap: 10px;
  }
  &__input-message{
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    width: 100%;
    background: var(--backgroundAccept);
    input {
      width: 100%;
    }
    input::placeholder{
      color: var(--placeholder)
    }
  }
  &__input-send{
    cursor: pointer;
  }
}

.message-user{
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  position: relative;
  &__edit, &__delete{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    &:hover{
      background: var(--background);
      color: var(--color);
      path{
        fill: var(--backgroundAccept);
      }
    }
    path{
      fill: var(--background);
    }
  }
  &__edit{
    svg{
      width: 30px;
      height: 25px;

    }
  }
  &__delete{
    svg{
      width: 30px;
      height: 30px;
    }
  }
  &__text{
    background: #00b6a3;
    padding: 10px;
    border-radius: 5px;
  }
  &__time{
    font-size: 12px;
    color: var(--backgroundAccept)
  }
  &__modal{
    border-radius: 5px;
    position: absolute;
    background: var(--backgroundAccept);
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    bottom: -70px;
    z-index: 3;
  }
}
.message-mate{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: flex-start;
  &__text{
    background: #7c00a9;
    padding: 10px;
    border-radius: 5px;
  }
}