.main{
  padding: 0 15px;
}

.main__content{
  display: flex;
  gap: 15px;
  width: 100%;
  &-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 130px);
    flex: 1 1 80%;
  }
}