.dialog{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFFFFF;
  height: calc(100vh - 130px);
  &__header{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--backgroundAccept);
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
    &-name{
      color: #FFFFFF;
    }
    &-time{
      color: var(--placeholder);
    }
  }
}
