.header{
  display: flex;
  width: 100%;
  min-height: 80px;
  padding: 20px 0;
  gap: 20px;
  margin: 0 0 100px 0;
  align-items: center;
  &__logo{
    font-size: 22px;
    font-weight: 800;
    color: var(--color)
  }
  &__theme-img{
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: var(--backgroundTheme);
  }
  &__search{
    flex: 1 1 auto;
    label{
      background: var(--color);
      border-radius: 5px;
      padding: 10px;
      max-width: 500px;
      display: flex;
      gap: 10px;
      svg{
        width: 20px;
        height: 20px;
      }
      svg path{
        fill: var(--background)
      }
    }

    input{
      width: 100%;
      font-size: 14px;
      color: var(--background);
    }

    input::placeholder{
      color: rgba(94, 94, 94, 0.5);
    }
  }
}

.image-user{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  path{
    fill: var(--color)
  }
}