.sidebar{
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100%;
  position: relative;
  height: calc(100vh - 130px);
  border-right: 1px solid var(--borderColor);
  min-width: 300px;
  max-width: 700px;
  user-select: none;
  &__search{
    padding: 0 10px 0 0;
    label{
      background: var(--backgroundAccept);
      border-radius: 5px;
      padding: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #FFFFFF;
      svg{
        width: 20px;
        height: 20px;
      }
      svg path{
        fill: #FFFFFF;
      }
      div{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    input{
      width: 100%;
      font-size: 14px;
      color: #FFFFFF;
    }

    input::placeholder{
      color: var(--placeholder);
    }
  }
}

.dialog{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 15px 10px 0;
  gap: 15px;
  border-bottom: 1px solid var(--borderColor);
  &__notRead{
    position: absolute;
    top: 5px;
    right: 0;
    background: var(--color);
    border-radius: 50%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    color: var(--backgroundAccept);
  }

  &__username{
    font-size: 14px;
    font-weight: 600;
    color: var(--color);
  }
  &__lastmessage{
    color: var(--color);
    opacity: 0.3;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    gap: 5px;

  }
  &__info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    position: relative;
  }
  &__image img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.loader{
  justify-self: flex-start;
  align-self: flex-start;
}