:root[data-theme='light'] {
  --background: #fff;
  --color: #000;
  --backgroundTheme: url("/public/img/sun.svg") 0 0 / cover no-repeat;
  --backgroundUser: url("/public/img/user-light.svg") 0 0 / cover no-repeat;

}

:root[data-theme='dark'] {
  --background: #000;
  --color: #fff;
  --backgroundTheme: url("/public/img/moon.svg") 0 0 / cover no-repeat;
  --backgroundUser: url("/public/img/user-dark.svg") 0 0 / cover no-repeat;
}