:root[data-theme='light'] {
  --background: #fff;
  --color: #000;
  --borderColor: #000;
  --placeholder: rgba(255, 255, 255, 0.3);
  --backgroundTheme: url("public/img/sun.svg") 0 0 / cover no-repeat;
  --backgroundAccept: #5e5e5e;
  --backgroundMessageUser: #777777;
  --backgroundMessageMate: #a2a2a2;
}

:root[data-theme='dark'] {
  --background: #000;
  --color: #fff;
  --borderColor: #fff;
  --placeholder: rgba(255, 255, 255, 0.3);
  --backgroundTheme: url("public/img/moon.svg") 0 0 / cover no-repeat;
  --backgroundAccept: #5e5e5e;
  --backgroundMessageUser: #6c6c6c;
  --backgroundMessageMate: #2a2a2a;
}

:root[data-theme='christmas'] {
  --background: #00B4DB;
  --color: #fff;
  --borderColor: #00D1FF;
  --backgroundAccept: #00a2c4;
  --placeholder: rgba(255, 255, 255, 0.3);
  --backgroundTheme: url("public/img/snowlake.svg") 0 0 / cover no-repeat;
  --backgroundMessageUser: #10d1f5;
  --backgroundMessageMate: #00a2c4;
}
