@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "variables";


* {
  font-family: 'Montserrat', sans-serif;
}


.layout {
  background: var(--background);
  width: 100%;
  height: 100vh;
  color: var(--color);
}


