.sidebar{
  min-height: calc(100vh - 250px);
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-dark{
  border-right: 1px solid #FFFFFF;
}

.sidebar-light{
  border-right: 1px solid #000000;
}

.dialog{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 15px 10px 0;
  gap: 15px;
  &__username{
    font-size: 14px;
    font-weight: 600;
  }
  &__username-dark{
    color: #FFFFFF;
  }
  &__username-light{
    color: #000000;
  }
  &__lastmessage{
    color: #A4A4A4;
    font-size: 12px;
    font-weight: 600;
  }
  &__info{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.dialog-dark{
  border-bottom: 1px solid #FFFFFF;
}

.dialog-light{
  border-bottom: 1px solid #000000;
}